.table-container {
    margin-top: 20px;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Show ellipsis for overflow */
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-btn {
    background-color: #4caf50;
    width: 100px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: large;
    
}

.edit-btn:hover {
    background-color: #3c8c40;
    width: 100px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: large;
    
}

.save-btn {
    background-color: #599600;
    width: 100px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: large;
    
}

.save-btn:hover {
    background-color: #477800;
    width: 100px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: large;
    
}

 h2 {
    margin-top: 110px;
    color: black;
    text-align: center;
}

/* FetchRecord.css */

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-icon {
    cursor: pointer;
    margin-right: 10px;
}

.filter-options {
    display: flex;
    gap: 10px;
}

.filter-options select,
.filter-options input,
.filter-options button {
    margin-right: 10px;
    padding: 0px;
}

.filter-options button {
    padding: 5px 10px;
}

/* FetchRecord.css */

.clear-btn {
   
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn:hover {
    background-color: #d63c0e;
}

/* FetchRecord.css */

.date-input {
    width: 400px; /* Adjust width as needed */
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 4px; /* Border radius */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.date-input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
}
