.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ensures navbar spans the entire width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #003239;
  color: white;
  z-index: 1000; /* Ensure navbar appears above other content */
}

  
  

  .navbar__logo img {
    width: 100px;
    /* Adjust size as needed */
    height: 60px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  
    
  }
  
  .navbar__buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar__button {
    margin-right: 1rem;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .navbar__button:hover {
    text-decoration: underline;
  }
  
  .navbar__loginContainer {
    position: relative;
  }
  
  .navbar__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__dropdownButton {
    font-size: large;
    font-weight: bold;
    /* display: block; */
    width: 100%;
    padding: 0.5rem 0.5rem;
    background-color: #061d20;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
  }
  
  /* Add any additional styling as needed */
