/* StatusLegend.css */

.color-legend {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.color-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}